<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

  <style>
    .nav-link {
      color: #313233 !important;
    }
  </style>
 
  <a class="navbar-brand mr-0 mr-md-2" href="{{ site.baseurl }}/" aria-label="PowerBI Custom Visuals" style="
  width: 250px;
  height: 50px;
  overflow: hidden;
">
    <img id="powerbi-logo" src="{{ site.baseurl }}/assets/img/powerbi-logo.png">

  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "home" %}active{% endif %}" href="{{ site.baseurl }}/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Home');">Home</a>
      </li>
      <li class="nav-item">

        <a class="nav-link {% if page.layout == "docs" %}active{% endif %}" href="{{ site.baseurl }}/docs/overview/"
          onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Documentation</a>

      </li>
      <li class="nav-item">

        <a class="nav-link {% if page.layout == "api" %}active{% endif %}" href="{{ site.baseurl }}/api/references/ivisualhost/"
          onclick="ga('send', 'event', 'Navbar', 'Community links', 'API');">API</a>

      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "tutorials" %}active{% endif %}" href="{{ site.baseurl }}/tutorials/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Tutorials');">Tutorials</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if page.layout == "samples" %}active{% endif %}" href="{{ site.baseurl }}/samples/"
          onclick="ga('send', 'event', 'Navbar', 'Community links', 'Samples');">Samples</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ site.blog }}" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');" target="_blank"
          rel="noopener">Blog</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {% if page.layout == "support" %}active{% endif %}" href="{{ site.baseurl }}/support/"
          onclick="ga('send', 'event', 'Navbar', 'Community links', 'Support');">Support</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        v{{ site.current_version }}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
        <a class="dropdown-item active" href="{{ site.baseurl }}/docs/">API v{{ site.current_version }}</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link p-2" href="{{ site.repo }}" target="_blank" rel="noopener" aria-label="GitHub">
        {%- include icons/github.svg class="navbar-nav-svg" -%}
      </a>
    </li>

  </ul>

</header>